fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
PyPDF2
langchain
langchain-google-genai
langchain-community
langchain-huggingface
faiss-cpu
tiktoken
python-multipart
huggingface-hub
google-api-core
python-dotenv
